body {
  line-height: 1.5em;
  background-color: #111111;
}

#site {
  background-color: white;
  text-align: justify;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 3em auto 2em;
  border: 1px solid white;
}

h1 {
  a,a:visited { color: white; }
}


#header {
  background-color: black;
  color: white;
  padding: 20px;
  border-bottom: 1px solid white;
}

#content {
  padding: 40px;
}

#comments {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#header, .article {
}
